{% extends 'cbresources/home.html' %}

{% block content %}
<div class="about">
    <div class="au">About Us</div>
    <div class="info">
        <p>
            Our website serves to foster a community of highly motivated students and support them with helpful resources.
            On CB Resources, we handpick the most prestigious resources to assist a student in whichever subject they please.
            During our experiences in high school, we found it very difficult to find reliable information about subjects covered in the most rigorous courses.
            This is why our team strives to make this process as simple and efficient as possible.
            Not only do we compile lots of useful resources into one, easy-to-use website, but we also include the Community tab where students can post to our various forums and have queries answered by other students.
            The AP Exams and SAT offered by the CollegeBoard can be the most challenging tests of a student's high school career, that's why we strive to offer a stress-free, reliable source of studying material.
        </p>
        <div id="quote">"CB Resources: Your One-Stop-Shop for Success"</div>
    </div>
</div>
{% endblock %}